<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola mundo</h1>
    
    <h2>Autores con one en el nombre</h2>
    <ul>
    {% for one in authorsWithOne %}
        <li>{{one.id}}. {{ one.name }}</li>
        {% endfor %}
    </ul> 

    <h2>Autores con id <= 15</h2>
    <ul>
    {% for authorid15 in authorsId15 %}
        <li>{{authorid15.id}}. {{ authorid15.email }}</li>
        {% endfor %}
    </ul> 

    <h2>Autores ordenados por email</h2>
    <ul>
    {% for ordered in authorsOrderedByEmail %}
        <li>{{ordered.id}}. {{ ordered.email }}</li>
        {% endfor %}
    </ul> 

    <h2>Autores 6-15</h2>
    <ul>
    {% for offset in authorsOffset %}
        <li>{{offset.id}}. {{ offset.email }}</li>
        {% endfor %}
    </ul> 
    
    <h2>10 primeros usuarios</h2>
    <ul>
    {% for first in tenAuthors %}
        <li>{{ first.email }}</li>
        {% endfor %}
    </ul>

    <h2>Obtener un único autor por id:</h2>
    <p>{{ author.name }} ({{ author.email }})</p>

    <h2>Autores filtrados por email:</h2>
    {% for email in authorByEmail  %}
        <p>Autor: {{ email.email }}</p>
    {% endfor %}

    <h2>Autores filtrados por id:</h2>
    {% comment %} Debemos recorrer la lista, ya que filter nos devolverá 0 o más elementos {% endcomment %}
    {% for id in authorById %}
        <p>{{ id.name }}</p>
    {% endfor %}

    <h2>Todos los autores</h2>
    <ul>
        {% for author in allAuthors %}
            <li>{{ author.name }} ({{ author.email }})</li>
        {% endfor %}
    <ul>
    <p><b>Total de autores: {{ allAuthors | length }}</b></p>
</body>
</html>