{% extends 'index.html' %}

{% block cuerpo %}
<h2 class="text-center">Contactos</h2>

{% comment %} <form class="row" action="{% url 'todos-contactos' %}" method="GET">
    <div class="col-9">
        <input type="text" class="form-control" name="search" placeholder="Buscar contacto...">
      </div>
      <div class="d-grid gap-2 col-3 mx-auto">
          <button type="submit" class="btn btn-outline-primary mb-3">Buscar</button>
      </div>
</form> {% endcomment %}

    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'crear-contactos' %}" class="btn btn-success" role="button">Crear Contacto</a>
    </div>

{% for contacto in recuperar_todos %}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        {{ contacto.nombre }}   
            <a href="{% url 'ver-contactos' nombre=contacto.nombre %}" class="btn btn-info" role="button">Ver</a>
            <a href="{% url 'actualizar-contactos' nombre=contacto.nombre %}" class="btn btn-warning" role="button">Actualizar</a>
            <a href="{% url 'eliminar-contactos' nombre=contacto.nombre %}" class="btn btn-danger" role="button">Eliminar</a>
    </li>

    </ul>
{% endfor %}
{% endblock cuerpo %}