{% extends 'index.html' %}

{% block cuerpo %}
<div class="position-fixed bottom-0 end-0 mb-5">
    <a href="{% url 'crear-tareas' %}" class="btn btn-info m-3 p-3 rounded-5" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
    </a>
</div>

<h2 class="text-center">Tareas</h2>


{% for tarea in tareas %}
<div class="row">

    <div class="list-group col-9">
        <a href="{% url 'detalles-tareas' id=tarea.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ tarea.titulo }}</h5>
                <small>{{ tarea.fecha_entrega }}</small>
            </div>
            <span class="badge bg-warning rounded-pill">Prioridad {{ tarea.prioridad }}</span>
        </a>
    </div>

    <div class="col-3">
        {% include 'layouts/tareas/parts/botones-crud.html' %}
    </div>

</div>
{% endfor %}
{% endblock cuerpo %}