

<h2>¿Que está pasando?</h2>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <small>And some small print.</small>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
      </div>
      <small>And some small print.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <small>And some small print.</small>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
        </div>
        <small>And some small print.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <small>And some small print.</small>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
        </div>
        <small>And some small print.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <small>And some small print.</small>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
        </div>
        <small>And some small print.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <small>And some small print.</small>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
        </div>
        <small>And some small print.</small>
    </a>
  </div>

<div class="my-3 list-group">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div>
            <img src="">
            <h2>Username</h2>
            <small>@username</small>
            <button type="button" class="btn btn-dark">Seguir</button>
        </div>
    </a>
    
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div>
            <img src="">
            <h2>Username</h2>
            <small>@username</small>
            <button type="button" class="btn btn-dark">Seguir</button>
        </div>
    </a>

    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div>
            <img src="">
            <h2>Username</h2>
            <small>@username</small>
            <button type="button" class="btn btn-dark">Seguir</button>
        </div>
    </a>
</div>