
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'herencia' %}">Herencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ejemplo' %}">Ejemplo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'otra' %}">Otra</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
